.app{
    padding: 10px;
    margin: 10px;
    background-image: url(https://images.unsplash.com/photo-1476170434383-88b137e598bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)  /* img copy right unsplash.com */
}